 
# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# PyCharm Ayar Dosyaları
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db
